@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Playwrite+CU:wght@100..400&display=swap');
*{
    padding: 0;
    margin:0;

}

header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
h1{
    margin-top: 1rem;
    font-family: "Carter One", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 1px black;
}
main{
    display: flex;
    background-color: #ECE7EA;
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    flex-wrap: wrap;
}
.Zazalenie{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: fit-content;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: white;
    border-radius: 2%;
    padding: 1rem;
}
.guzikszczegoly{
    text-decoration: none;
    color: white;
    text-align: center;
}
.guzikszczegoly span{
    background-color: #232C33;
    padding: 5px;
}
.guzikszczegoly span:hover{
    background-color: white;
    color: #232C33;
    animation: 1s normal animacjaguzik;
}

@keyframes animacjaguzik {
    0%{
        background-color: #232C33;
        color: white;
    }
    100%{
        background-color: white;
        color: #232C33;
    }
}