@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin:0;

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #dc131b;
    padding: 2%;
    color: white;
    height: 3vh;
}
h1{
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 1px #232C33;
}
main{
    display: flex;
    background-color: #ECE7EA;
    width: auto;
    flex-wrap: wrap;
}
.Zazalenie{
    font-family: "Roboto", system-ui;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: fit-content;
    margin: 1rem auto;
    background-color: white;
    border-radius: 0.5rem;
}
.Zazalenie h3{
    border-radius: 0.5rem 0.5rem 0 0;
    background: indianred;
    color: #f5f5f5;
    padding: 0.5rem;
}
.Zazalenie p {
    padding: 0.5rem;
}
.guzikszczegoly{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0.5rem;
}
.guzikszczegoly span{
    background-color: #dc131b;
    padding: 5px;
}
.guzikszczegoly span:hover{
    background-color: white;
    color: #232C33;
    animation: 1s normal animacjaguzik;
}

@keyframes animacjaguzik {
    0%{
        background-color: #dc131b;
        color: white;
    }
    100%{
        background-color: white;
        color: #232C33;
    }
}