@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Playwrite+CU:wght@100..400&display=swap');
*{
    padding: 0;
    margin:0;

}

header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
h1{
    margin-top: 1rem;
    font-family: "Carter One", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 1px black;
}
main{
    display: flex;
    background-color: #ECE7EA;
    height: 100px;
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
}

.Zazalenie{
    display: flex;
    flex-direction: column;
}