{% load static %}
<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/index.css" %}" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Skargi</h1>
        </header>
        <main>
            {% block content %}

            {% endblock %}
        </main>
        <p class="pagination">
            {% include "pagination.html" with page=page_obj %}
        </p>
    </body>
</html>