{% load static %}
<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/skargi.css" %}" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Skarga</h1>
        </header>
        <main class="detail">
            <div class="Zazalenie">
                <h3> {{ rep.imie }}  {{ rep.nazwisko }}</h3>
                <p> {{ rep.zgloszono }}</p>
                <p class="opis"> {{ rep.opis }}</p>
            </div>
        </main>
    </body>
</html>